- content_for :title, @user.name
.row
  %aside.span3
    %section
      %h1
        = gravatar_for @user, size: 40
        = @user.name

  .span8
    - if @user.cars.any?
      %h3 My Garage (#{@user.cars.count})
      %ol.cars
        = render @cars
      = will_paginate @cars
